@import '~scss/colors.scss';

.post-content {
  color: $razzmic-berry;
  .post-content-head {
    display: flex;
    align-items: center;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    div {
      flex: 1;
      margin-left: 20px;
    }
  }
  .post-content-body {
    margin: 20px 0;
  }
}
