@import '~scss/colors.scss';

:host {
  display: block;
  margin: 40px 0;
  height: 50px;
  ::ng-deep {
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 1px solid $razzmic-berry;
      color: $razzmic-berry;
      border-radius: 5px;
      font-size: 1rem;
      padding: 5px 10px;
      outline: none;
      background: $white-smoke;
      height: 100%;
      &:focus {
        box-shadow: 0 0 3px 2px $white-smoke;
      }
      &::placeholder {
        color: $razzmic-berry;
      }
    }
  }
}
