<div [class.has-error]="control.errors && (control.dirty || control.touched)">
  <ng-content></ng-content>

  <ng-container *ngIf="control.invalid && (control.dirty || control.touched)">
    <p class="error-message" *ngIf="control.hasError('required')">
      <span class="glyphicon glyphicon-exclamation-sign">
        This field is mandatory
      </span>
    </p>
    <p class="error-message" *ngIf="control.hasError('malformedMail')">
      <span class="glyphicon glyphicon-exclamation-sign">
        The Email is not valid
      </span>
    </p>
    <p class="error-message" *ngIf="control.hasError('malformedUrl')">
      <span class="glyphicon glyphicon-exclamation-sign">
        The URL is not valid
      </span>
    </p>
    <p class="error-message" *ngIf="control.hasError('passwordMismatch')">
      <span class="glyphicon glyphicon-exclamation-sign">
        El password y su confirmación no coinciden
      </span>
    </p>
  </ng-container>
</div>
