@import '~src/scss/colors.scss';

div {
  display: block;
  margin: 30px 0;
  height: 50px;
  ::ng-deep {
    input[type='text'],
    input[type='email'],
    input[type='password'] {
      width: 100%;
      border: 1px solid $main;
      color: $main;
      border-radius: 5px;
      font-size: 1rem;
      padding: 5px 10px;
      outline: none;
      background: $white;
      height: 100%;
      transition: all 0.2s ease-in;
      &:focus {
        box-shadow: 0 0 3px 2px $main;
      }
      &::placeholder {
        color: $main;
      }
    }
  }
  &.has-error {
    .error-message {
      margin-top: 5px;
      color: $error;
    }
    ::ng-deep {
      input {
        border: 1px solid $error;
        color: $white;
        background: $error;
        transition: all 0.2s ease-in;
        &:focus {
          box-shadow: none;
        }
        &::placeholder {
          color: $white;
        }
      }
    }
  }
}

::ng-deep {
  .error-message {
    margin-top: 5px;
    color: $error;
  }
}
