<form
  [formGroup]="registerForm"
  (ngSubmit)="submitButton.focus(); register()"
  (keyup.enter)="register()"
>
  <div class="form-group">
    <label for="fullName">Name</label>
    <input
      id="fullName"
      type="text"
      class="form-control form-control-lg"
      placeholder="Name"
      formControlName="fullName"
    />
    <sn-validation-messages
      [control]="registerForm.get('fullName')"
    ></sn-validation-messages>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      class="form-control form-control-lg"
      placeholder="Email"
      formControlName="email"
    />
    <sn-validation-messages
      [control]="registerForm.get('email')"
    ></sn-validation-messages>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      id="password"
      type="password"
      class="form-control form-control-lg"
      placeholder="Password"
      formControlName="password"
    />
    <sn-validation-messages
      [control]="registerForm.get('password')"
    ></sn-validation-messages>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm the password</label>
    <input
      id="confirmPassword"
      type="password"
      class="form-control form-control-lg"
      placeholder="Confirm the password"
      formControlName="confirmPassword"
    />
    <sn-validation-messages
      [control]="registerForm.get('confirmPassword')"
      [group]="registerForm"
    ></sn-validation-messages>
  </div>
  <button
    type="submit"
    class="btn btn-lg btn-outline-primary mt-2"
    #submitButton
  >
    Register
  </button>
</form>
