<div class="friend" [ngClass]="{ 'is-friend': friend.isFriend }">
  <sn-avatar [user]="friend" width="80px" height="80px"></sn-avatar>
  <div class="friend-details">
    <h5>{{ friend?.fullName }}</h5>
    <div class="friend-toolbar">
      <a href="" (click)="addFriend()" snPreventDefault *ngIf="!friend.isFriend"
        ><fa-icon [icon]="addIcon"></fa-icon> Add to my friends
      </a>
      <a
        href=""
        (click)="removeFriend()"
        snPreventDefault
        *ngIf="friend.isFriend"
        ><fa-icon [icon]="removeIcon"></fa-icon> Remove from my friends
      </a>
    </div>
  </div>
</div>
