@import '~src/scss/colors.scss';

.friend {
  background-color: $main;
  border-radius: 10px;
  color: $white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.is-friend {
    background-color: $dark;
  }
  .friend-details {
    margin-left: 10px;
    flex: 1;
    .friend-toolbar {
      a {
        color: $light;
        font-size: 0.8rem;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}
