<!-- Template-Driven -->
<hab-form-group>
  <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
    <hab-form-control [control]="email">
      <input
        type="text"
        placeholder="Email"
        required
        email
        [(ngModel)]="loginModel.email"
        name="email"
        #email="ngModel"
      />
    </hab-form-control>
    <hab-form-control [control]="password">
      <input
        type="password"
        placeholder="Password"
        required
        [(ngModel)]="loginModel.password"
        name="password"
        #password="ngModel"
      />
    </hab-form-control>
    <button type="submit" class="right">Login</button>
  </form>
</hab-form-group>
