<!-- Reactive -->
<hab-form-group>
  <hab-errors [errors]="errors$ | async" (reset)="resetErrors()"></hab-errors>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <hab-form-control [control]="registerForm.get('fullName')">
      <input type="text" placeholder="Name" formControlName="fullName" />
    </hab-form-control>
    <hab-form-control [control]="registerForm.get('email')">
      <input type="email" placeholder="Email" formControlName="email" />
    </hab-form-control>
    <hab-form-control [control]="registerForm.get('password')">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </hab-form-control>
    <hab-form-control [control]="registerForm.get('confirmPassword')">
      <input
        type="password"
        placeholder="Confirm the password"
        formControlName="confirmPassword"
      />
      <p
        class="error-message"
        *ngIf="
          registerForm.hasError('passwordMismatch') &&
          registerForm.invalid &&
          (registerForm.dirty || registerForm.touched)
        "
      >
        <span class="glyphicon glyphicon-exclamation-sign">
          El password y su confirmación no coinciden
        </span>
      </p>
    </hab-form-control>
    <div class="button-wrapper"><button type="submit">Register</button></div>
  </form>
</hab-form-group>
