<!-- Reactive -->

<sn-errors [errors]="errors$ | async"></sn-errors>
<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  (keyup.enter)="register()"
>
  <sn-form-control [control]="registerForm.get('fullName')">
    <input type="text" placeholder="Name" formControlName="fullName" />
  </sn-form-control>
  <sn-form-control [control]="registerForm.get('email')">
    <input type="email" placeholder="Email" formControlName="email" />
  </sn-form-control>
  <sn-form-control [control]="registerForm.get('password')">
    <input type="password" placeholder="Password" formControlName="password" />
  </sn-form-control>
  <sn-form-control
    [group]="registerForm"
    [control]="registerForm.get('confirmPassword')"
  >
    <input
      type="password"
      placeholder="Confirm the password"
      formControlName="confirmPassword"
    />
  </sn-form-control>
  <div class="button-wrapper"><button type="submit">Register</button></div>
</form>

<!-- Without the formcontrol wrapper
      <div class="form-control">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <ng-container
        *ngIf="
          registerForm.controls.password.invalid &&
          (registerForm.controls.password.dirty ||
            registerForm.controls.password.touched)
        "
      >
        <p
          class="error-message"
          *ngIf="registerForm.controls.password.hasError('required')"
        >
          This field is mandatory
        </p>
      </ng-container>
    </div>
-->
