@import 'colors.scss';

:host {
  ::ng-deep {
    .button-wrapper {
      display: flex;
      justify-content: flex-end;
      button {
        transition: background-color 0.2s ease-in;
        background-color: $main;
        color: $white;
        padding: 20px 30px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        outline: none;
      }
    }
  }
}
