@import '~scss/colors.scss';

:host {
  ::ng-deep {
    button {
      background-color: $razzmic-berry;
      color: $white-smoke;
      padding: 20px 30px;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      outline: none;
      &.right {
        float: right;
      }
      &:hover {
        box-shadow: 0 0 5px 4px $white-smoke;
      }
    }
  }
}
