<div class="d-flex">
  <sn-avatar [user]="user" height="50px"></sn-avatar>
  <div class="flex-grow-1 ml-2 mr-2">
    <textarea
      class="form-control"
      name="content"
      snTextArea
      [placeholder]="placeholder"
      [(ngModel)]="content"
      (keydown)="exploreKeyPressed($event)"
      [style.minHeight.px]="minHeight"
      [style.height.px]="minHeight"
      #text
    ></textarea>
  </div>
  <button
    class="btn btn-info"
    (click)="publishStatus()"
    [style.height.px]="buttonHeight"
  >
    Publish
  </button>
</div>
