@import '~src/scss/colors.scss';

.publisher {
  display: flex;
  align-items: center;
  height: auto;
  min-height: 60px;
  border: 1px solid $light;

  sn-avatar {
    padding: 7px 10px;
    width: 64px;
    border-radius: 50%;
    align-self: flex-start;
  }

  .publisher-text {
    flex: 1;
    textarea {
      background: $white;
      border: none;
      outline: none;
      font-size: 1.2em;
      color: $main;
      width: 100%;
      padding-right: 1em;
      resize: none;
      border-radius: 5px;
      &::placeholder {
        color: $main;
        opacity: 0.7;
      }
    }
  }
  button {
    padding: 7px 10px;
    outline: none;
    font-size: 2em;
    color: $dark;
    align-self: flex-start;
  }
}
