@import '~src/scss/colors.scss';
@import '~src/scss/breakpoints.scss';

:host {
  padding: 20px 10px;
  .dashboard-menu {
    li {
      display: inline-block;
      margin-left: 10px;
      line-height: 2.5rem;
      @include respond-above(lg) {
        display: block;
        margin-left: 0;
      }
      a {
        &.active {
          color: $razzmic-berry;
        }
      }
      &:last-child {
        float: right;
        margin-right: 20px;
        @include respond-above(lg) {
          margin-top: 20px;
          padding: 10px 0;
          border-top: 2px solid $white-smoke;
          float: none;
        }
      }
    }
  }
}
