<div class="card-header">
  <div class="d-flex align-items-center">
    <sn-avatar [user]="post.author" width="40px" height="40px"></sn-avatar>
    <div class="ml-3">
      <h4 class="flex-fill">
        <a class="card-link text-dark" [routerLink]="getLink(post.author.uuid)"
          ><b>{{ post.author.fullName }} </b></a
        >
        <ng-container *ngIf="post.author.uuid !== post.owner.uuid">
          <fa-icon [icon]="arrowRight"></fa-icon>
          <a class="card-link text-dark" [routerLink]="getLink(post.owner.uuid)"
            ><b> {{ post.owner.fullName }}</b></a
          >
        </ng-container>
      </h4>
      <small class="badge badge-primary">{{
        post.createdAt | userFriendlyDate
      }}</small>
    </div>
  </div>
</div>
