<section class="container-fluid">
  <div class="d-flex align-items-center justify-content-center w-50">
    <router-outlet></router-outlet>

    <!-- https://toddmotto.com/angular-ngif-else-then -->
    <ng-container *ngIf="isLogin; then login; else register"> </ng-container>

    <ng-template #login>
      <a routerLink="/register"
        ><span>Don't have an account. Create one</span></a
      >
    </ng-template>

    <ng-template #register>
      <a routerLink="/login"><span>Already have an account? Login</span></a>
    </ng-template>
  </div>
</section>
