@import '~src/styles.scss';

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;

  div {
    width: 100%;
    border: 5px solid $primary;
    padding: 30px;
    border-radius: 10px;
  }

  a {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    color: $primary;
    span {
      &:hover {
        border-bottom: 1px solid $primary;
      }
    }
  }
}
