@import '~scss/colors.scss';
@import '~scss/breakpoints.scss';

:host {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  hab-friend {
    margin: 2% 0;
  }

  @include respond-above(xs) {
    flex-direction: row;

    hab-friend {
      flex: 0 0 46%;
      margin: 2%;
    }
  }

  @include respond-above(sm) {
    hab-friend {
      flex: 0 0 29.3333%;
    }
  }
}
