@import '~scss/colors.scss';
@import '~scss/breakpoints.scss';

hab-dashboard-header {
  background: $razzmic-berry;
  height: 50px;
  position: fixed;
  width: 100%;
}

hab-container {
  &.app-layout {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 100px;
    grid-template-areas:
      'nav nav nav'
      'main main main'
      'aside aside aside'
      'footer footer footer';
    height: 100%;

    nav {
      grid-area: nav;
      background-color: $tuscany;
    }

    main {
      grid-area: main;
      overflow: inherit;
    }

    aside {
      grid-area: aside;
    }

    footer {
      grid-area: footer;
      background-color: $razzmic-berry;
    }

    hab-dashboard-nav,
    hab-dashboard-aside,
    hab-dashboard-footer {
      display: block;
    }

    @include respond-above(sm) {
      height: 100vh;
      grid-template-columns: minmax(150px, 200px) 5fr minmax(300px, 2fr);
      grid-template-rows: auto 1fr 50px;
      grid-template-areas:
        'nav nav nav'
        'main main aside'
        'footer footer footer';

      main {
        overflow: scroll;
      }
    }

    @include respond-above(lg) {
      height: 100vh;
      grid-template-columns: minmax(150px, 200px) 5fr minmax(300px, 2fr);
      grid-template-rows: 1fr 50px;
      grid-template-areas:
        'nav main aside'
        'footer footer footer';

      nav,
      main,
      aside {
        height: calc(100vh - 100px);
      }
      main {
        overflow: scroll;
      }
    }
  }
}
