<div class="welcome">
  <section class="picture">
    <svg>
      <filter id="purple-filter">
        <feColorMatrix
          type="matrix"
          values="1 -0.2 0 0 0 0 1 0 -0.1 0 0 1.2 1 0.1 0 0 0 1.7 1 0"
        ></feColorMatrix>
      </filter>
    </svg>
  </section>
  <section class="content">
    <ul class="toolbar">
      <li><a href="" (click)="toggleForm()">Login</a></li>
      <li><a href="" (click)="toggleForm()">Register</a></li>
    </ul>
    <div class="login-form" [hidden]="isRegisterFormVisible">
      <hab-register></hab-register>
    </div>
    <div class="register-form" [hidden]="!isRegisterFormVisible">
      <hab-register></hab-register>
    </div>
  </section>
</div>
