@import '~scss/colors.scss';

:host {
  display: block;
  width: 100%;
  height: 100%;
  hab-container {
    &.site-layout {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 150px 1fr 150px;
      height: 100%;
      margin: 0 auto;

      hab-site-layout-header {
        background-color: $razzmic-berry;
      }

      hab-site-layout-footer {
        background-color: $razzmic-berry;
      }
    }
  }
}
