hab-container {
  &.dashboard {
    display: grid;
    grid-template-columns: minmax(100px, 200px) 1fr minmax(100px, 200px);
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header header header'
      'nav content aside'
      'footer footer footer';
    height: 100%;
    hab-dashboard-header {
      grid-area: header;
    }
    hab-dashboard-container {
      &.nav {
        grid-area: nav;
      }
      &.content {
        grid-area: content;
      }
      &.aside {
        grid-area: aside;
      }
    }
    hab-dashboard-footer {
      grid-area: footer;
    }
  }
}
