<!--
  <hab-grid-layout-projection>
    <ng-container grid-layout-header> <hab-header></hab-header> </ng-container>
    <nav grid-layout-nav>nav</nav>
    <section grid-layout-content>content</section>
    <aside grid-layout-aside>aside</aside>
    <ng-container grid-layout-footer> <hab-footer></hab-footer> </ng-container>
  </hab-grid-layout-projection>
-->

<ng-template #header> <hab-header></hab-header></ng-template>

<ng-template #nav> <p>Nav</p> </ng-template>

<ng-template #content> <p>Content</p> </ng-template>

<ng-template #aside> <p>Aside</p> </ng-template>

<ng-template #footer> <hab-footer></hab-footer> </ng-template>

<hab-grid-layout-template
  [headerTemplate]="header"
  [navTemplate]="nav"
  [contentTemplate]="content"
  [asideTemplate]="aside"
  [footerTemplate]="footer"
></hab-grid-layout-template>
