@import '~src/scss/colors.scss';

.my-status {
  display: flex;
  align-items: center;
  height: auto;
  min-height: 60px;
  border: 1px solid $dust-storm;

  img {
    padding: 7px 10px;
    width: 64px;
    border-radius: 50%;
    align-self: flex-start;
  }

  .my-status-text {
    flex: 1;
    textarea {
      background: $white-smoke;
      border: none;
      outline: none;
      font-size: 1.2em;
      color: $razzmic-berry;
      width: 100%;
      padding-right: 1em;
      resize: none;
      &::placeholder {
        color: $razzmic-berry;
        opacity: 0.7;
      }
    }
  }
}
