@import '~src/scss/colors.scss';

.user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  hab-avatar {
    width: 40px;
    border-radius: 50%;
  }
  p {
    color: $white;
    margin-left: 5px;
  }
}
