<div
  class="notification"
  [ngClass]="notificationClass"
  [@animLoad]="animationState"
>
  <div class="notification-inner">
    <div role="alert" [@animFadeMove]="animationState">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="remove()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 *ngIf="notification.title">{{ smiley }} {{ notification.title }}</h4>
      <p>
        <span *ngIf="!notification.title">{{ smiley }}</span>
        {{ notification.description }}
      </p>
    </div>
  </div>
</div>
