@import 'colors.scss';

:host {
  position: relative;
  margin-left: 20px;
  span {
    background: $dark;
    padding: 3px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: $white;
    border-radius: 5px;
  }
  fa-icon {
    margin-left: 5px;
    color: dark;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
