<div class="card" [ngClass]="getSearchStatus(friend)">
  <div class="card-header text-truncate">
    <h5>{{ friend?.fullName }}</h5>
  </div>
  <div class="card-body d-flex">
    <sn-avatar [user]="friend" width="60px" height="60px"></sn-avatar>
    <div class="ml-3">
      <a
        (click)="acceptRequest()"
        class="text-primary"
        *ngIf="getSearchStatus(friend).includes('pending')"
        ><i class="fa fa-plus"></i> Accept request
      </a>
      <a
        href=""
        (click)="addFriend()"
        class="text-light"
        *ngIf="getSearchStatus(friend).includes('not-friend')"
        ><i class="fa fa-plus"></i> Add to my friends
      </a>
      <a
        href=""
        (click)="removeFriend()"
        class="text-light"
        *ngIf="getSearchStatus(friend).includes('is-friend')"
        ><i class="fa fa-trash-alt"></i> Remove from my friends
      </a>
    </div>
  </div>
</div>
