<!-- Reactive -->
<h3>My account</h3>
<p>Update you account details</p>

<hab-form-group>
  <hab-errors [errors]="errors$ | async"></hab-errors>
  <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">
    <hab-form-control [control]="updateProfileForm.get('fullName')">
      <input type="text" placeholder="Name" formControlName="fullName" />
    </hab-form-control>
    <div formGroupName="preferences">
      <hab-form-control
        [control]="updateProfileForm.get('preferences.isPublicProfile')"
      >
        <label class="checkbox-wrapper"
          >Is your profile public
          <input type="checkbox" formControlName="isPublicProfile" />
          <span class="checkmark"></span>
        </label>
      </hab-form-control>
      <hab-form-control
        [control]="updateProfileForm.get('preferences.linkedIn')"
      >
        <input
          type="text"
          placeholder="Enter you LinkedIn public profile"
          formControlName="linkedIn"
        />
      </hab-form-control>
      <hab-form-control
        [control]="updateProfileForm.get('preferences.twitter')"
      >
        <input
          type="text"
          placeholder="Enter you Twitter public profile"
          formControlName="twitter"
        />
      </hab-form-control>
      <hab-form-control [control]="updateProfileForm.get('preferences.github')">
        <input
          type="text"
          placeholder="Enter you Github public profile"
          formControlName="github"
        />
      </hab-form-control>
    </div>
    <div class="button-wrapper">
      <button type="submit">Update profile</button>
    </div>
  </form>
</hab-form-group>

<hr />

<a herf="" habPreventDefault (click)="logout()">Logout</a>
