<sn-errors [errors]="errors$ | async"></sn-errors>
<form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">
  <sn-form-control [control]="updateProfileForm.get('fullName')">
    <input
      class="form-control"
      type="text"
      placeholder="Name"
      formControlName="fullName"
    />
  </sn-form-control>
  <div formGroupName="preferences">
    <sn-form-control
      [control]="updateProfileForm.get('preferences.description')"
    >
      <textarea
        class="form-control"
        rows="10"
        placeholder="Tell us something about you"
        formControlName="description"
        snNullDefault
      ></textarea>
    </sn-form-control>
    <sn-form-control
      [control]="updateProfileForm.get('preferences.isPublicProfile')"
    >
      <label class="checkbox-wrapper"
        >Is your profile public?
        <input
          type="checkbox"
          class="form-control"
          formControlName="isPublicProfile"
        />
        <span class="checkmark"></span>
      </label>
    </sn-form-control>
    <sn-form-control [control]="updateProfileForm.get('preferences.linkedIn')">
      <input
        type="text"
        class="form-control"
        placeholder="Enter you LinkedIn public profile"
        formControlName="linkedIn"
        snNullDefault
      />
    </sn-form-control>
    <sn-form-control [control]="updateProfileForm.get('preferences.twitter')">
      <input
        type="text"
        class="form-control"
        placeholder="Enter you Twitter public profile"
        formControlName="twitter"
        snNullDefault
      />
    </sn-form-control>
    <sn-form-control [control]="updateProfileForm.get('preferences.github')">
      <input
        type="text"
        class="form-control"
        placeholder="Enter you Github public profile"
        formControlName="github"
        snNullDefault
      />
    </sn-form-control>
  </div>
  <div class="button-wrapper">
    <button type="submit">Update profile</button>
  </div>
</form>
