<form>
  <div>
    <input
      type="text"
      required
      minlength="3"
      [(ngModel)]="profile.firstName"
      name="firstName"
      placeholder="First Name"
      #firstName="ngModel"
    />
    <div *ngIf="firstName.invalid && firstName.dirty">
      <span *ngIf="firstName.hasError('required')">required</span>
      <span *ngIf="firstName.hasError('minlength')">Min length</span>
    </div>
  </div>
  <div>
    <input
      type="text"
      required
      minlength="5"
      [(ngModel)]="profile.lastName"
      name="lastName"
      placeholder="Last name"
      #lastName="ngModel"
    />
    <div *ngIf="lastName.invalid && lastName.dirty">
      <span *ngIf="lastName.hasError('required')">required</span>
      <span *ngIf="lastName.hasError('minlength')">Min length</span>
    </div>
  </div>
  <button>
    Submit Form
  </button>
</form>

<p>{{ profile | json }}</p>
