<hab-search-user></hab-search-user>
<div class="friends-grid">
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
  <hab-friend></hab-friend>
</div>
