<article class="card mt-3">
  <sn-post-head [post]="post" [currentUser]="currentUser"></sn-post-head>
  <sn-post-body [post]="post" [currentUser]="currentUser"></sn-post-body>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <sn-like [likeCount]="post.likes.length" (like)="toggleLike()"></sn-like>
    </li>
    <li class="list-group-item">
      <sn-post-comment-counter
        [count]="post.comments.length"
      ></sn-post-comment-counter>
    </li>
    <li class="list-group-item">
      <!-- <sn-publisher
        placeholder="Publica un comentario"
        [user]="currentUser"
        (publish)="addComment($event)"
      ></sn-publisher> -->

      <sn-post-comment
        @listItems
        *ngFor="
          let comment of (post.comments
            | slice: 0:(commentsPage + 1) * commentsPageSize);
          trackBy: commentIdentity
        "
        [comment]="comment"
        [currentUser]="currentUser"
      ></sn-post-comment>

      <sn-pager
        type="mini"
        [(page)]="commentsPage"
        [pageSize]="commentsPageSize"
        [count]="post.comments.length"
        showMoreText="More comments"
        showLessText="Less comments"
      ></sn-pager>
    </li>
  </ul>

  <i class="fa fa-trash-alt" (click)="deletePost()"></i>
</article>
