<article>
  <sn-post-content [post]="post"></sn-post-content>
  <div class="comment"></div>
  <section class="comments">
    <sn-post-comment-counter
      [count]="post.comments.length"
    ></sn-post-comment-counter>
    <hr />
    <sn-publisher
      placeholder="Publica un comentario"
      [user]="post.author"
      (publish)="addComment($event)"
    ></sn-publisher>
    <section>
      <sn-post-comment
        @listItems
        *ngFor="let comment of post.comments; trackBy: commentIdentity"
        [comment]="comment"
        [user]="user"
      ></sn-post-comment>
    </section>
  </section>
  <fa-icon [icon]="deleteCommentIcon" (click)="deletePost()"></fa-icon>
</article>
