@import '~src/scss/colors.scss';

article {
  background-color: $white;
  border: 1px solid $light;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  position: relative;
  hr {
    margin: 20px 0;
    border: 1px solid $light;
  }
  fa-icon {
    position: absolute;
    right: 25px;
    top: 25px;
    display: none;
    cursor: pointer;
  }
  &:hover {
    fa-icon {
      display: inline;
    }
  }
}
