@import '~src/scss/colors.scss';

.post-content {
  color: $dark;
  .post-content-head {
    display: flex;
    align-items: center;
    sn-avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    div {
      flex: 1;
      margin-left: 20px;
    }
  }
  .post-content-body {
    margin: 20px 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    ul,
    li {
      margin: 10px 0;
    }
    h1,
    h2,
    h3 {
      font-weight: bold;
    }
    ul {
      list-style-type: circle;
      padding-left: 30px;
    }
  }
}
