<section class="post-content">
  <div class="post-content-head">
    <sn-avatar [user]="post.author"></sn-avatar>
    <div>
      <h4>
        <a [routerLink]="['/user', post.author.uuid, 'wall']"
          ><b>{{ post.author.fullName }} </b></a
        >
        <ng-container *ngIf="post.author.uuid !== post.owner.uuid">
          <fa-icon [icon]="arrowRight"></fa-icon>
          <a [routerLink]="['/user', post.owner.uuid, 'wall']"
            ><b> {{ post.owner.fullName }}</b></a
          >
        </ng-container>
      </h4>
      <small>{{ post.createdAt | userFriendlyDate }}</small>
    </div>
  </div>
  <div class="post-content-body" [innerHtml]="content"></div>
</section>
