@import '~src/scss/colors.scss';

hab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30%;

  div {
    width: 100%;
    border: 5px solid $razzmic-berry;
    padding: 30px;
    border-radius: 10px;
  }
}
