@import '~src/scss/colors.scss';
@import '~src/scss/breakpoints.scss';

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;

  div {
    width: 100%;
    border: 5px solid $razzmic-berry;
    padding: 30px;
    border-radius: 10px;
  }

  @include respond-above(sm) {
    padding: 20px 30%;
  }
}
