@import '~scss/breakpoints';

:host {
  padding: 20px 10px;
  .dashboard-menu {
    li {
      display: inline-block;
      margin-left: 10px;
      @include respond-above(sm) {
        display: block;
        margin-left: 0;
      }
    }
  }
}
