<!-- Reactive -->
<sn-form>
  <sn-errors [errors]="errors$ | async"></sn-errors>
  <form [formGroup]="loginForm" (ngSubmit)="login()" (keyup.enter)="login()">
    <sn-form-control [control]="loginForm.get('email')">
      <input type="text" placeholder="Email" formControlName="email" />
    </sn-form-control>
    <sn-form-control [control]="loginForm.get('password')">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </sn-form-control>
    <div class="button-wrapper"><button type="submit">Login</button></div>
  </form>
</sn-form>

<!-- Template-Driven -->
<!-- <sn-form>
  <sn-errors [errors]="errors$ | async"></sn-errors>
  <form
    (ngSubmit)="login(loginForm)"
    (keyup.enter)="login(loginForm)"
    #loginForm="ngForm"
    [ngFormOptions]="{ updateOn: 'blur' }"
  >
    <sn-form-control [control]="email">
      <input
        type="text"
        placeholder="Email"
        required
        snMail
        [(ngModel)]="loginModel.email"
        name="email"
        #email="ngModel"
      />
    </sn-form-control>
    <sn-form-control [control]="password">
      <input
        type="password"
        placeholder="Password"
        required
        [(ngModel)]="loginModel.password"
        name="password"
        #password="ngModel"
      />
    </sn-form-control>
    <div class="button-wrapper"><button type="submit">Login</button></div>
  </form>
</sn-form> -->
