<!-- Template-Driven -->
<hab-form-group>
  <hab-errors [errors]="errors$ | async"></hab-errors>
  <form
    (ngSubmit)="login(loginForm)"
    #loginForm="ngForm"
    [ngFormOptions]="{ updateOn: 'blur' }"
  >
    <hab-form-control [control]="email">
      <input
        type="text"
        placeholder="Email"
        required
        habMail
        [(ngModel)]="loginModel.email"
        name="email"
        #email="ngModel"
      />
    </hab-form-control>
    <hab-form-control [control]="password">
      <input
        type="password"
        placeholder="Password"
        required
        [(ngModel)]="loginModel.password"
        name="password"
        #password="ngModel"
      />
    </hab-form-control>
    <div class="button-wrapper"><button type="submit">Login</button></div>
  </form>
</hab-form-group>
