@import '~scss/colors.scss';

:host {
  ::ng-deep {
    input[type='text'],
    input[type='email'] {
      border: 1px solid $razzmic-berry;
      color: $razzmic-berry;
      border-radius: 5px;
      width: auto;
      font-size: 1rem;
      padding: 5px 10px;
      outline: none;
      background: $white-smoke;
      &:focus {
        box-shadow: 0 0 2px 1px $razzmic-berry;
      }
      &::placeholder {
        color: $razzmic-berry;
        opacity: 0.7;
      }
    }
  }
}
