<div id="loader-text-container">
  <div id="loader-text-1" class="loader-text">T</div>
  <div id="loader-text-2" class="loader-text">h</div>
  <div id="loader-text-3" class="loader-text">e</div>
  <div id="loader-text-4" class="loader-text">S</div>
  <div id="loader-text-5" class="loader-text">o</div>
  <div id="loader-text-6" class="loader-text">c</div>
  <div id="loader-text-7" class="loader-text">i</div>
  <div id="loader-text-8" class="loader-text">a</div>
  <div id="loader-text-9" class="loader-text">l</div>
  <div id="loader-text-10" class="loader-text">N</div>
  <div id="loader-text-11" class="loader-text">e</div>
  <div id="loader-text-12" class="loader-text">t</div>
  <div id="loader-text-13" class="loader-text">w</div>
  <div id="loader-text-14" class="loader-text">o</div>
  <div id="loader-text-15" class="loader-text">r</div>
  <div id="loader-text-16" class="loader-text">k</div>
</div>
