<div class="jumbotron jumbotron-fluid bg-primary text-light h-100">
  <div class="container text-center">
    <h1 class="display-1">404</h1>
    <ul class="list-inline mt-5">
      <li class="lead list-inline-item mx-3">
        <a class="text-light" routerLink="/wall">Go to my wall</a>
      </li>
      <li class="lead list-inline-item mx-3">
        <a class="text-light" routerLink="/login">Login</a>
      </li>
      <li class="lead list-inline-item mx-3">
        <a class="text-light" routerLink="/register">Register</a>
      </li>
      <li class="lead list-inline-item mx-3">
        <a class="text-light" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</div>
