@import '~src/scss/colors.scss';
@import '~src/scss/breakpoints.scss';

.notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($razzmic-berry, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    background: $white-smoke;
    color: $razzmic-berry;
    fa-icon {
      font-size: 6em;
    }
  }
  button {
    outline: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid $razzmic-berry;
    color: $razzmic-berry;
  }

  @include respond-above(sm) {
    padding: 0 20%;
  }
}
