<div class="container-fluid">
  <div class="row">
    <nav class="col-xs-12 col-lg-2 bg-dark pt-5">
      <sn-me [user]="user$ | async"></sn-me>
      <hr class="bg-light" />
      <sn-dashboard-nav (logout)="logout()"></sn-dashboard-nav>
      <hr class="bg-light" />
      <button class="btn btn-link text-light" (click)="logout()">Logout</button>
    </nav>
    <main class="col-xs-12 col-md-8 col-lg-7">
      <router-outlet></router-outlet>
    </main>
    <aside class="col-xs-12 col-md-4 col-lg-3">
      <sn-clock></sn-clock>
      <sn-friend-requests></sn-friend-requests>
    </aside>
  </div>
</div>
