@import '~src/scss/colors.scss';
@import '~src/scss/breakpoints.scss';

section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;

  div {
    width: 100%;
    border: 5px solid $main;
    padding: 30px;
    border-radius: 10px;
  }

  a {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    color: $main;
    span {
      &:hover {
        border-bottom: 1px solid $main;
      }
    }
  }

  @include respond-above(sm) {
    padding: 20px 30%;
  }
}
