<ng-container [ngSwitch]="variant">
  <h1 *ngSwitchCase="1" [class]="weight">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </h1>
  <h2 *ngSwitchCase="2" [class]="weight">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </h2>
  <h3 *ngSwitchCase="2" [class]="weight">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </h3>
  <h4 *ngSwitchCase="2" [class]="weight">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </h4>
  <h5 *ngSwitchCase="2" [class]="weight">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </h5>
  <h6 *ngSwitchCase="2" [class]="weight">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </h6>
  <p *ngSwitchDefault [class]="weight">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </p>
</ng-container>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
