<div class="skew"></div>

<div class="content">
  <h1><b>Hey there!! 👋</b></h1>
  <h2>My name is Yago</h2>

  <hr />

  <p>
    I'm a frontend developer and love to create beautiful websites !!. You check
    more about me in the followings sites:
  </p>

  <a href="http://linkedin.com/yagopv" target="_blank"><b>LinkedIn</b></a>
  <a href="http://github.com/yagopv" target="_blank"><b>Github</b></a>
  <a href="http://portfolio.yagoperez.com" target="_blank"><b>Portfolio</b></a>

  <hr />

  <p>If you want to contact with me you can send me an email or message in:</p>
  <a href="mailto:yagoperez@outlook.com" target="_blank"
    ><b>yagoperez@outlook.com</b></a
  >
  <a href="http://twitter.com/yperezva"><b>Twitter</b></a>
</div>
