<div class="grid-layout-container">
  <header *ngIf="headerTemplate">
    <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
  </header>
  <nav *ngIf="navTemplate">
    <ng-container *ngTemplateOutlet="navTemplate"></ng-container>
  </nav>
  <section class="content" *ngIf="contentTemplate">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </section>
  <aside *ngIf="asideTemplate">
    <ng-container *ngTemplateOutlet="asideTemplate"></ng-container>
  </aside>
  <footer *ngIf="footerTemplate">
    <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
  </footer>
</div>
