.grid-layout-container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 200px) 1fr minmax(auto, 200px);
  grid-template-rows: 100px 1fr 100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}

header {
  grid-column: 1 / -1;
}

nav {
  grid-column: 1 / 2;
}

section.content {
  grid-column: 2 / 3;
}

aside {
  grid-column: 3 / 4;
}

footer {
  grid-column: 1 / -1;
}
